section#products .product-card {
    padding: 2rem;
}

section#products .product-card h4 {
    margin-bottom: 1rem;
}

section#products .product-card img {
    aspect-ratio: 1;
    object-fit: cover;

    margin-bottom: 1rem;
}