@import "bootstrap";
@import "bootstrap-icons";
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Inter Tight", sans-serif;
}

img {
    max-width: 100%;
}

/* Root Variables */
:root {
    --color-light: #fff;
    --color-secondary: #666666;
    --color-tetiary: #f1f1f1;
    --color-dark: #1e1e1e;
}

/* Utilities */
.app-container {
    max-width: 1500px;

    margin: 0 auto;

    padding: 2rem 2rem;
}

.app-btn {
    padding: 0.5rem 1rem;

    border-radius: 10rem;
}

.app-btn.primary {
    background-color: var(--color-dark);
    color: var(--color-light);
}

/* Header Region */

#banner {
    text-align: center;
    background-color: var(--color-dark);
    color: var(--color-light);
}

#app-header .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 2rem;

    background-color: var(--color-light);
}

#app-header h1 {
    font-weight: 900;
}

#app-header nav {
    display: flex;
    gap: 1rem;
}

#app-header nav>a {
    text-decoration: none;
    white-space: nowrap;

    color: var(--color-dark);
}

#app-header nav>a.active {
    font-weight: 700;
}

#app-header nav#op-nav>a {
    font-size: 1.2rem;
}

#app-header .search-bar {
    width: 100%;
    position: relative;
}

#app-header .search-bar>i {
    position: absolute;
    top: 50%;
    left: 0;

    transform: translate(1.5rem, -50%);
}

#app-header .search-bar>input {
    width: 100%;

    padding: 1rem 1rem 1rem 3.5rem;

    border: none;
    border-radius: 2rem;

    background-color: var(--color-tetiary);
}

/* End Header Region */

/* Main Region */

section#hero {
    background-color: var(--color-tetiary);
    background-image: url(./assets/img/hero-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section#hero .content {
    max-width: 50%;
}

section#hero .content>h2 {
    text-transform: uppercase;

    line-height: 1;

    font-size: 3rem;
    font-weight: 900;
}

section#hero .content>p {
    color: var(--color-secondary);
}

section#hero .scores {
    display: flex;
    flex-direction: row;
    gap: 4rem;

    margin-top: 3rem;
}

section#hero .scores>.score-card {
    border-bottom: 1px solid var(--color-secondary);
    line-height: 0;
}

section#hero .scores>.score-card>h3 {
    font-weight: 600;
}

section#hero .scores>.score-card>p {
    color: var(--color-secondary);
}

section#brands {
    background-color: var(--color-dark);
}

section#contacts .row {
    margin: 3rem 0;
}

/* End Main Region */

@media screen and (max-width: 576px) {
    section#hero .content {
        max-width: 100%;
    }

    section#hero .scores {
        flex-direction: column;
    }

    section#hero .scores>.score-card {
        width: 100%;
    }
}